.wishlist-main .products-container {
	gap: var(--space-2);
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.wishlist-main {
	max-width: 1280px;
	width: 100%;
}
