.cart-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "cart-list cart-summary";
	gap: var(--space-1) var(--space-3);
	max-width: 1280px;
	width: 100%;
	place-items: start center;
}

.cart-list {
	gap: var(--space-1);
	width: 100%;
	grid-area: "cart-list";
}

.cart-item.card {
	display: grid;
	grid-template-columns: 1.5fr 1.25fr;
	gap: 1rem;
	max-width: 40rem;
	width: 100%;
	height: 100%;
	display: grid;
}

.cart-item.card .card-header {
	max-height: 18rem;
	height: 100%;
}

.cart-item img {
	height: 100%;
	width: 100%;
}

.cart-item .card-body {
	height: 100%;
	gap: var(--space-1-5);
	justify-content: space-evenly;
}

.cart-item .card-footer {
	gap: var(--space-0-5);
}

.card-genres .badge {
	display: block;
}

.card-quantity,
.card-content {
	gap: 1rem;
}

.btn-quantity {
	width: 2rem;
	border-radius: 50%;
	height: 2rem;
	font-weight: bold;
	min-width: 2rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.input-quantity {
	width: 2.5rem;
	height: 2rem;
	max-width: max-content;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.checkout-container {
	background-color: var(--bg-card-color);
	height: max-content;
	max-width: 30rem;
	width: 100%;
	grid-area: cart-summary;
}

.checkout-container .section-head {
	border-bottom: 2px solid var(--text-color);
	width: 100%;
}

.checkout-container .payment-details {
	width: 100%;
}

.checkout-container .total-charges {
	border-top: 2px solid var(--text-color);
}

.coupon-options-container {
	width: 100%;
	gap: 1rem;
	border-bottom: 2px solid var(--text-color);
}

.coupon-options-modal {
	background-color: var(--bg-card-color);
	max-width: 500px;
	width: 100%;
	gap: 2rem;
}

.coupon-options-header {
	gap: var(--space-0-5) var(--space-1);
	flex-wrap: wrap;
	width: 100%;
}

.coupons-list {
	gap: 1rem;
	width: 100%;
}

.coupon-label {
	border-radius: var(--br-2);
	-webkit-border-radius: var(--br-2);
	-moz-border-radius: var(--br-2);
	-ms-border-radius: var(--br-2);
	-o-border-radius: var(--br-2);
	border: 1px solid var(--gray);
	width: 100%;
	gap: var(--space-0-5) var(--space-0-75);
}

.coupon-label:hover {
	color: var(--primary-color);
}

.btn-apply-coupon {
	align-self: flex-end;
}

.coupon-data .item-head {
	gap: var(--space-0-5);
	flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
	.cart-wrapper {
		grid-template-columns: 1fr;
		max-width: 100%;
		grid-template-areas: "cart-summary" "cart-list";
	}

	.checkout-container {
		max-width: 40rem;
	}
}

@media screen and (max-width: 700px) {
	.cart-wrapper .card {
		padding: 1rem;
	}
}

@media screen and (max-width: 480px) {
	.cart-list {
		grid-template-columns: 1fr;
	}

	.cart-wrapper .card {
		grid-template-columns: 1fr;
	}

	.cart-wrapper .card-body,
	.cart-wrapper .card-quantity {
		justify-content: center;
		text-align: center;
	}

	.cart-wrapper .card-quantity {
		margin: 1rem auto;
	}

	.cart-wrapper .card-price {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.cart-wrapper .card-footer {
		flex-direction: column;
	}
}
