:root {
    /* background colors */
    --light-theme-bg-color: #f6f7f9;
    --dark-theme-bg-color: #282827;
    
    /* default/ text colors */
    --dark-theme-default-color: #f6f7f9;
    --light-theme-default-color: #282827;
    --light-theme-hover-color: #929292;

    --overlay-text-color: #2842581a;
    --overlay-bg-color: rgba(0,0,0,0.5);

    --text-color: #282827;
    --text-active-color: #282827be;

    --primary-color: #26a8ff;
    --primary-active-color: #0091F2;
    --primary-bg-color: #b7e2ff;
    --secondary-color: #256ae5;
}