.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: var(--space-1) var(--space-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
    margin: 0 auto;
    background-color: rgba(245, 247, 250, 0.9);
    box-shadow: 0 0 0.25em var(--box-shadow-color);
    min-height: 7vh;
}

.navbar .logo {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .nav-link {
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navbar .nav-link.active {
    color: var(--secondary-color);
}

.navbar a {
    line-height: 1;
}

.navbar .nav-link:hover {
    color: var(--light-theme-hover-color);
}

.navbar .navlinks {
    display: flex;
    gap: 1.25rem;
}

.navlinks .nav-link {
    font-weight: 700;
    font-size: 1.15rem;
    text-transform: uppercase;
}

.nav-icons .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-container .badge-primary {
    font-size: 0.75rem;
    width: 0.875;
    height: 0.875;
}

.navbar .search-container {
    text-align: center;
    position: absolute;
    top: 0;
    gap: var(--space-1);
    left: 0;
    right: 0;
    height: max-content;
    background: #111;
    color: var(--light-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: var(--space-3);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar .search-container.show-search-drawer {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.navbar .search-container.hide-search-drawer {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.search-container form, .search-container .input-search-group {
    width: 100%;
}

.input-search-group .input-text {
    flex: 1;
}

.input-search-group label.text-label {
    border: none;
    outline: none; 
    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
}

.input-search-group label.text-label:focus-within {
    outline: none;
}

.btn-search-submit {
    outline: none;
    border: none;
    background: transparent;
}

.search-container .close-icon {
    align-self: flex-end;
    right: 3rem;
    top: 2rem;
    position: absolute;
    max-width: max-content;
    color: var(--bg-card-color);
}

.mobile-search-icon {
    color: var(--light-theme-default-color);
}

.navbar-hamburger-icon, .hamburger {
    display: none;
}

.mobile-navbar-drawer {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
}

.navlinks-mobile {
    top: 0;
    left: 0;
    max-width: 250px;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--light-gray-color);
    gap: var(--space-2);
}

.btn-navbar-close {
    position: absolute;
    right: var(--space-2);
    top: var(--space-2);
}

@media screen and (max-width: 640px) {
    .desktop-navbar.navlinks {
        display: none;
    }

    .logo.nav-link {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-logo {
        display: flex;
    }

    .navbar-close {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
}
    
    .navbar-open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@media screen and (max-width: 300px) {
    .navbar {
        padding: var(--space-1);
    }
}