@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.products-main {
    font-family: 'Open Sans', sans-serif;
    align-items: start;
    justify-content: center;
    gap: var(--space-2);
}

.grid-row-span {
    grid-column: 1/-1;
    width: 100%;
}

.products-main .main-head {
    border-bottom: 2px solid var(--light-gray-color);
}

.list-sorting-options {
    gap: 1rem;
}

.sorting-option .btn {
    font-size: 0.95rem;
}

.border-bottom {
    border-bottom: 1px solid var(--text-color);
}

.product-filters {
    border: 2px solid var(--light-gray-color);
    width: 250px;
}

.product-filters .list-head {
    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
}

li.list-head:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.product-filters .list-stacked .list-item:hover {
    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
}

.product-card .list-stacked {
    border-radius: var(--br-5);
    -webkit-border-radius: var(--br-5);
    -moz-border-radius: var(--br-5);
    -ms-border-radius: var(--br-5);
    -o-border-radius: var(--br-5);
}

.product-catalog {
    width: 100%;
}

.products-container {
    gap: var(--space-2);
    justify-items: center;
}

.product-card {
    font-family: 'Catamaran', sans-serif;
    --wishlist-bg: #ff6058;
    border-radius: var(--br-4);
    -webkit-border-radius: var(--br-4);
    -moz-border-radius: var(--br-4);
    -ms-border-radius: var(--br-4);
    -o-border-radius: var(--br-4);
    max-width: 250px;
    height: 100%;
    border: 1px solid var(--card-border-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-card.card-horizontal {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.card-horizontal .card-header {
    flex: unset;
    width: 20rem;
}

.product-card:hover {
    box-shadow: 0px 0px 5px 2px var(--overlay-text-color);
}

.product-card .card-header img {
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;  
    object-fit: contain;  
}

.product-card .btn-card-wishlist {
    display: flex;
}

.product-card.card .card-title,
.product-card .card-subtitle {
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.1;
    font-family: 'Catamaran', sans-serif;
}

.btn.btn-card-wishlist  {
    display: flex;
    color: var(--error-color);
    border-radius: var(--br-50);
    -webkit-border-radius: var(--br-50);
    -moz-border-radius: var(--br-50);
    -ms-border-radius: var(--br-50);
    -o-border-radius: var(--br-50);
}

.btn-card-wishlist .icon {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-card-wishlist .icon svg {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
}

.product-card .btn-card-wishlist:hover {
    color: var(--wishlist-bg);
}

.rating-container {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    font-size: 0.95rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.rating-container .star-icon {
    width: 1rem;
    height: 1rem;
}

.genre-label, .rating-label, .book-cover-label {
    width: 100%;
    gap: var(--space-0-5);
}

.card-content, .product-price {
    width: 100%;
}

.price-discounted, .percentage-discount {   
    font-weight: var(--weight-sbold);
    line-height: 1.2;
}

.card-genres .list {
    gap: var(--space-0-25) var(--space-0-5);
}

.card-genres .list li:nth-child(even) {
    background-color: var(--warning-color);
}

.card-genres .list li:nth-child(odd) {
    background-color: var(--text-color);
}

.product-card .badge {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 0.9rem;
}

.card-genres .badge {
    position: static;
}

.input-range {
    width: 100%;
    accent-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .product-filters {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .product-filters {
        width: 150px;
    }

    .product-card.card-horizontal {
        flex-direction: column;
    }
}

@media screen and (max-width: 350px) {
    .product-filters {
        width: 100px;
    }
}

@media screen and (max-width: 300px) {
    .product-filters {
        display: none;
    }

    .products-main {
        grid-template-columns: 1fr;
    }
}