.order-wrapper {
	max-width: 1280px;
	margin: auto;
	width: 100%;
}

.order-summary-main {
	padding: 0;
	max-width: 768px;
	width: 100%;
}

.order-summary-main .order-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-2);
	place-items: start center;
	max-width: 50rem;
	width: 100%;
	max-height: 85vh;
	height: 100%;
}

.order-summary-main .order-items {
	overflow-y: auto;
	max-height: 85vh;
	height: 100%;
	width: 100%;
	gap: var(--space-1);
}

.order-summary-main .order-items::-webkit-scrollbar {
	width: var(--space-0-5);
	height: var(--space-0-5);
	background: var(--light-gray-color);
}

.order-summary-main .order-items::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: var(--br-4);
	-webkit-border-radius: var(--br-4);
	-moz-border-radius: var(--br-4);
	-ms-border-radius: var(--br-4);
	-o-border-radius: var(--br-4);
}

.order-summary-main .card-horizontal {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	gap: var(--space-1);
	height: 100%;
}

.order-summary-main a.card-horizontal {
	min-height: 12rem;
}

.order-summary-main .card-horizontal .card-header {
	flex: unset;
	height: 100%;
}

.order-summary-main .card-horizontal .card-header img {
	height: 100%;
	object-fit: contain;
	max-height: 12rem;
}

.order-wrapper .order-summary {
	background-color: var(--bg-card-color);
	width: 100%;
	gap: var(--space-0-5);
	width: 100%;
}

.order-wrapper .order-id,
.order-wrapper .order-total,
.order-wrapper .selected-coupon {
	gap: var(--space-0-5);
	font-size: 0.9rem;
}

.shipping-address > div > * {
	font-size: 0.9rem;
	line-height: 1.1;
}

.order-details .card-description .flex-row {
	gap: var(--space-0-5);
}

.orders-list .border-bottom:last-child {
	border-bottom: none;
}

@media screen and (max-width: 960px) {
	.order-summary-main .order-details {
		grid-template-columns: 1fr;
		max-height: unset;
	}

	.order-summary-main .order-items {
		max-height: unset;
	}
	.order-summary-main .card-horizontal,
	.order-wrapper .order-summary,
	.order-summary-main .order-items {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.order-summary-main a.card-horizontal {
		grid-template-columns: 1fr;
		padding: var(--space-1);
		min-height: unset;
	}

	.order-summary-main .card-horizontal .card-header img {
		align-self: flex-start;
	}
}
